*{
/*border: 1px purple solid;*/
    margin: 0px 0px;
}

h1{

    text-align: center;
    color: #DD5F20;
    font-size: 50px;
    padding-top: 65px;
}

h2{

    text-align: center;
    color: #DD5F20;
    
}

ol{

    text-align: left;
    list-style-position: inside;
    padding-left: 27%;
}

.bring{
    text-align: left;
    list-style-position: inside;
    padding-left: 21%;
}

p{
    text-align: center;
    color:black;
    font-size: 20px;
  
   
}

.container {
    background-image: url('bg1.png');
    background-size: cover; /* Adjust the size to cover the entire viewport */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    width: 600px; /* Set the width of your container */
    height: 800px;
}

main {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    height: 100vh; /* Ensure the main element covers the full viewport height */
}
