*{
   /* border: 1px purple solid;*/
 
}
body{
    background-color: rgb(255, 250, 250);
}

.card{
    background-image: url(ima.jpg);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 25px;
    padding-bottom: 50px;
    padding-top: 30px;
    margin-top: 80px;
}
