p
    {
        text-align: center;
		padding: 8px;
        margin: 8px;
		box-sizing: border-box;
    }
article
    {
        padding: 8px;
        margin: 8px;
		box-sizing: border-box;
    }
main
    {
        background-color: #dcdcdc;
        color: #808080;
        padding: 8px;
        margin: 8px;
		box-sizing: border-box;
    }
h1
    {
        background-color: #808080;
        color: #dcdcdc;
        padding: 8px;
        margin: 8px;
		box-sizing: border-box;
    }
title
    {
        display: block;
    }
body
    {
        font-family: Century Gothic, sans-serif;
        padding: 8px;
        margin: 8px;
		box-sizing: border-box;
        background-color: #adff2f;
		filter: grayscale(50%);
		display: block;
    }
    body:focus
        {
            outline: none;
        }
	body:hover
		{
			filter: grayscale(75%);
		}
section
    {
        padding: 8px;
        margin: 8px;
		box-sizing: border-box;
        border: 1px solid #808080;
    }
aside
    {
        padding: 8px;
        margin: 8px;
		box-sizing: border-box;
        border: 1px solid #adff2f;
        text-align: center;
    }