<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup Form</title>
  <link href="main.css" rel="stylesheet">
</head>
<body>
  <h1>Signup Form</h1>
  <div class="msg-container">
      <span id="msg-text">Thank you!</span>
  </div>
  <form action="/signup" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="country">Country:</label>
    <input type="text" id="country" name="country" required>
    <br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>