.mainbgcolour{
    background-color: rgb(205, 153, 101);
}

.bodybgcolour{
    background-color: rgb(171, 115, 58);
}

.titcolour{
    background-color: rgb(186, 76, 29);
}

.h2lnht{
    line-height: 2px;
}

