



body{
    background-image:url(bar.jpg);
    background-repeat: no-repeat;
    background-size: auto 170%;
    background-position: center 20px;    
    
}
/*.bg_img{
    position: absolute;
    z-index: -1;
    height: 1100px;
    width: auto;
}*/
.margin{
    margin-left: 500px;
    margin-right: 500px;
}

h1{
    font-family: 'Autour One', cursive;

}

h2{
    font-family: 'Autour One', cursive;

}

.greentext{
    color: green;
}

main{
    padding: 100px 20px 15px 20px;
    font-family: 'Autour One', cursive;

}

.align_center{
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }